[Unit]
Description=YesterdayPy service
After=network.target

[Service]
Type=simple
#ExecStart=LINODE_TOKEN=`cat linode_token.txt` yesterdaypy
#ExecStart=docker run -e LINODE_TOKEN=`cat linode_token.txt` --mount type=bind,src=.,dst=/usr/local/yesterdaypy leonardobdes/yesterdaypy:latest
